$color-one: #ffffff; 
$colot-two: #708090;

$font-text: 'Roboto', Sans-Serif;
$font-header: 'Lora', Serif;

/*Global*/
/**{border: 1px solid red }*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    line-height: 1.7;
    font-family: $font-text;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-weight: bold;
    font-size: 48px;
}
h3 {
    font-weight: bold;
}

/*navigation*/

nav {
    padding: 12px 0;
    background-color: #708090;
        ul {
            list-style-type: none;
        }
        li {
            display: inline-block;
            margin-left: 20px;
        }
        a{
            text-decoration: none;
            color: $color-one;
        }
        

}

/*splash*/
.splash {
    background-image: url(https://images.pexels.com/photos/604969/pexels-photo-604969.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
}
.splash-inner {
    color:$color-one;
    margin: auto;
    text-align: center;
        h1 {
            font-size: 72px;
            font-weight: 900;
            font-family: $font-header;
        }
}
.btn {
    display: inline-block;
    width: 140px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    text-align: center;
    text-decoration: none;
    background-color: #708090;
    font-size: 16px;
    color: $color-one;

}

/*SERWICES*/


.services {
    padding: 60px;
    text-align: center;
    i {
        font-size: 32px;
        margin: 30px 0;
        padding: 20px;
        border: 2px solid;
        border-radius: 50%;
        color: $colot-two;
        
    }
    
   
}
.portfolio {
    background-color: rgba(240, 235, 230, 0.555);
    text-align: center;
    padding: 50px;
    img {
        width: 100%;
    }
    .box {
        margin: 30px auto;
        
    }

        
}
   
footer {
    padding: 40px 0;
    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        line-height: 60px;
        width: 60px;
        text-align: center;
    }
    i {
        font-size: 32px;
        padding: 15px;
        border: 2px;
        border-radius: 50%;
        background-color: #708090;
        color: $color-one;
        margin: auto;
        
        
    }
    p {
        text-align: center;
    }
    

}
